Repository Tencent-TDS/KuiklyUI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyunong, @iPel, @hidawei, @elixxli, @ruifanyan, @luoyibu, @zenipchen, @gguoyu, @xyc-cn, @zealotchen0

.github/CODEOWNERS:

#####################################################
#
# List of approvers for KuiklyUI
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @Cyunong @iPel @hidawei @elixxli @ruifanyan @luoyibu @zenipchen
/README.md @hidawei
/buildSrc/ @elixxli
/androidApp/ @hidawei @elixxli
/core/ @iPel @hidawei
/core-annotations/ @elixxli
/core-kapt/ @elixxli
/core-ksp/ @elixxli
/core-render-android/ @iPel @hidawei
/core-render-ios/ @Cyunong
/core-render-web/ @gguoyu @xyc-cn @zealotchen0
/h5App/ @gguoyu @xyc-cn @zealotchen0
/miniApp/ @gguoyu @xyc-cn @zealotchen0
/demo/ @hidawei
/gradle/ @elixxli
/img/ @hidawei
/iosApp/ @Cyunong
/*.sh @elixxli @iPel
/*.gradle.kts @elixxli @iPel
/CODE_OF_CONDUCT.md @hidawei
/CONTRIBUTING.md @hidawei
/LICENSE @hidawei
/README* @hidawei
/OpenKuiklyIOSRender.podspec @Cyunong
/gradlew*  @elixxli @iPel
/.gitignore @iPel @hidawei

chore: update version to 2.4.0 (#352)
  OpenKuiklyIOSRender.podspec
  core-render-ohos/BuildProfile.ets
  core-render-ohos/CHANGELOG.md
  core-render-ohos/oh-package.json5
  docs/ChangeLog/changelog.md
Owners: @Cyunong, @iPel, @hidawei, @elixxli, @ruifanyan, @luoyibu, @zenipchen

feat: translate chinese comment & refactor some module (#356)
  core-render-web/README.md
  core-render-web/base/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/expand/components/KRCanvasView.kt
  core-render-web/base/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/expand/components/KRHoverView.kt
  core-render-web/base/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/export/IKuiklyRenderViewPropExternalHandler.kt
  core-render-web/base/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/ktx/KuiklyRenderKTX.kt
  core-render-web/base/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/processor/EventProcessor.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/components/list/H5ListPagingHelper.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/components/list/H5ListView.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/components/list/H5NestScrollHelper.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/processor/AnimationProcessor.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/processor/ListProcessor.kt
  core-render-web/h5/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/web/expand/processor/RichTextProcessor.kt
  core-render-web/miniapp/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/miniapp/MiniGlobal.kt
  core-render-web/miniapp/src/jsMain/kotlin/com/tencent/kuikly/core/render/web/runtime/miniapp/processor/AnimationProcessor.kt
  docs/QuickStart/hello-world.md
  h5App/README.md
Owners: @gguoyu, @xyc-cn, @zealotchen0, @Cyunong, @iPel, @hidawei, @elixxli, @ruifanyan, @luoyibu, @zenipchen

feat:支持从自定义bundle中获取图片等资源URL
  core-render-ios/Core/KuiklyContextParam.m
  core-render-ios/Extension/BridgeProtocol/KuiklyRenderBridge.h
Owners: @Cyunong

feat：iOS支持通过文件名从自定义bundle获取图片等资源URL，适用于自定义资源bundle（非mainBundle的场景）
  core-render-ios/Core/KuiklyContextParam.m
  core-render-ios/Extension/BridgeProtocol/KuiklyRenderBridge.h
Owners: @Cyunong

feat：iOS支持通过文件名从自定义bundle获取图片等资源URL，适用于自定义资源bundle（非mainBundle的场景）
  core-render-ios/Core/KuiklyContextParam.m
  core-render-ios/Extension/BridgeProtocol/KuiklyRenderBridge.h
Owners: @Cyunong

feat：iOS支持通过文件名从自定义bundle获取图片等资源URL，适用于自定义资源bundle（非mainBundle）的场景（补充注释）
  core-render-ios/Extension/BridgeProtocol/KuiklyRenderBridge.h
Owners: @Cyunong

feat：iOS支持通过文件名从自定义bundle获取图片等资源URL，适用于自定义资源bundle（非mainBundle）的场景（补充注释）
  core-render-ios/Extension/BridgeProtocol/KuiklyRenderBridge.h
Owners: @Cyunong

feat: delete web template doc
  docs/QuickStart/hello-world.md
Owners: @Cyunong, @iPel, @hidawei, @elixxli, @ruifanyan, @luoyibu, @zenipchen
